.techstack{
    max-height: 30%;
    max-width: 100%;
    min-height: 30%;
    min-width: 100%;
}

.icons{
    margin-left: 3%;
    min-height: 30%;
    max-height: 30%;
    max-width: 100%;
    display:flex;
    /* background-color: black; */
}
.icon{
    transition: 0.5s;
    width:4%;
    margin-left: 2%;
    margin-right: 2%;
    /* cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;*/
}
.icon:hover{
    box-shadow: rgba(0, 0, 0, 0.65) 0px 54px 55px, rgba(0, 0, 0, 0.42) 0px -12px 30px, rgba(0, 0, 0, 0.32) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
@media only screen and (max-width: 600px) {
    .techstack{
        max-height: 18%;
        max-width: 100%;
        min-height: 18%;
        min-width: 100%;
    }
    .heading{
        font-size: 25px;
    }
    .icons{
        height: 10%;
        overflow-x: scroll;
    }
    .icons::-webkit-scrollbar {
        width: 5px;              
      }
}