.techstack{
    max-height: 30%;
    max-width: 100%;
    min-height: 30%;
    min-width: 100%;
}

.icons{
    height: 30%;
    max-height: 30%;
    max-width: 100%;
    display:flex;
    /* background-color: aliceblue; */

}

.icon{
    /* padding-right: 2%; */
    width:4%;
    margin-left: 2%;
    margin-right: 2%;
    /* border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;*/
    cursor: pointer;
}
/* .icon:hover{
    border-color: blueviolet;
    width:6%;
} */

@media only screen and (max-width: 600px) {
    .techstack{
        max-height: 18%;
        max-width: 100%;
        min-height: 18%;
        min-width: 100%;
    }
    .heading{
        font-size: 25px;
    }
    .icons{
        height: 10%;
        overflow-x: scroll;
    }
    .icons::-webkit-scrollbar {
        width: 5px;              
      }
}