body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Golos Text', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Raleway', sans-serif;
  /* background: rgb(154,0,166);
  background: linear-gradient(90deg, rgba(154,0,166,1) 0%, rgba(202,123,212,1) 35%, rgba(198,148,222,1) 58%, rgba(255,255,255,1) 100%); */
  background-color:rgb(35, 35, 35);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
