.Hero{
    top:12%;
    position: fixed;
    left: 2.5%;
    width:95%;
    z-index: 1;
    height: 85%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;
    overflow-y: scroll;
    /* background-image: linear-gradient( 109.6deg,  rgb(34, 0, 68) 11.2%, rgb(1, 1, 45) 91.1% ); */
    background-color:rgb(35, 35, 35);
    background-color: aliceblue;
}
.Hero::-webkit-scrollbar {
    width: 5px; 
  }
  
  .Hero::-webkit-scrollbar-track {
    background: transparent;        
  }
  
  .Hero::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 20px;     
  }
.background{
    width: 100%;
    height: 40%;
}
.infoMain{
    display:flex;
    background-color: transparent;
    height: 30%;
}
.dp{
    height: 20%;
    position: absolute;
    top:37%;
    left: 5%;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    border-color: rgb(108, 190, 201);
}
.Per-info{
    position: relative;
    left:20%;
    background-color: transparent;

}
.Per-info .name{
    color:transparent;
    background-clip: text;
    background-image: linear-gradient( 109.6deg,  rgb(126, 91, 241) 11.2%, rgb(72, 209, 255) 91.1% );
    font-size: 80px;
    font-weight: 700;
}
.Per-info .profession{
    padding-left: 1%;
    text-align: left;
    font-size: 25px;
    color:transparent;
    background-clip: text;
    background-image: linear-gradient( 109.6deg,  rgb(192, 75, 194) 11.2%, rgb(48, 129, 156) 91.1% );
}

@media only screen and (max-width: 600px) {
    .Hero{
        top:10%;
    }
    .infoMain{
        height: 12%;
    }
    .dp{
        top:22%;
        height: 15%;
        left:2%;
    }
    .Per-info{
        left:35%;
    }
    .Per-info .name{
        font-size: 35px;
    }
    .Per-info .profession{
        font-size: 15px;
    }
    .background{
        height: 25%;
    }

}