.Hero{
    top:12%;
    position: fixed;
    left: 2.5%;
    width:95%;
    z-index: 1;
    height: 85%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px ;
    overflow-y: scroll;
    /* background-image: linear-gradient( 109.6deg,  rgb(34, 0, 68) 11.2%, rgb(1, 1, 45) 91.1% ); */
    background-color:rgb(35, 35, 35);
    background-color: aliceblue;
}
.Hero::-webkit-scrollbar {
    width: 5px; 
  }
  
  .Hero::-webkit-scrollbar-track {
    background: transparent;        
  }
  
  .Hero::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 20px;     
  }
.background{
    width: 100%;
    height: 40%;
}
.infoMain{
    display:flex;
    background-color: transparent;
    height: 30%;
}
.dp{
    height: 30%;
    position: absolute;
    top:37%;
    left: 5%;
    border-width: 3px;
    border-style: solid;
    border-radius: 18px;
    border-color: rgb(5, 9, 10);
}
.Per-info{
    position: relative;
    left:20%;
    background-color: transparent;
}
.Per-info .name{
    color:transparent;
    background-clip: text;
    background-image: linear-gradient( 109.6deg,  rgb(126, 91, 241) 11.2%, rgb(0, 36, 48) 91.1% );
    font-size: 80px;
    font-weight: 700;
}
.Per-info .profession{
    padding-left: 1%;
    text-align: left;
    font-size: 25px;
    color:transparent;
    background-clip: text;
    background-image: linear-gradient( 109.6deg,  rgb(79, 12, 81) 11.2%, rgb(0, 36, 48) 91.1% );
}

.certifications{
    margin-top: 5%;
    width:90%;
    background-color: transparent;
    height: 50%;
    display: flex;
    overflow-y: scroll;
    margin-left: 5%;
}
.certifications::-webkit-scrollbar {
    width: 12px;              
  }
.certificate{
    min-width:40%;
    max-width:40%;
    min-height: 100%;
    max-height: 100%;
    margin-right:2% ;
    margin-left: 2%;
}
.popCerti{
    position:fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.718);
}
.infoMain button{
    position: relative;
    left:50%;
    border-radius: 35px;
    height: 50%;
    width: 10%;
    margin-top: 1%;
    background-color: transparent;
    border-color: blueviolet;
    border-width: 4px;
    font-size: 20px;
}
.infoMain button a{
    text-decoration: none;
    color: black;
}
.infoMain button a:hover{
    color: white;
}
.infoMain button:hover{
    background-color: black;
}

@media only screen and (max-width: 600px) {
    .Hero{
        top:10%;
    }
    .infoMain{
        height: 12%;
    }
    .dp{
        top:22%;
        height: 15%;
        left:2%;
    }
    .Per-info{
        left:35%;
    }
    .Per-info .name{
        font-size: 35px;
    }
    .Per-info .profession{
        font-size: 15px;
    }
    .background{
        height: 25%;
    }

}