.Projects{
    height: 80%;
    background-color: black;
    border-radius: 25px;
    width:95%;
    margin-left: 2.5%;
}
.projects-container{
    width:100%;
    height: 80%;
    display: flex;
    overflow-x: scroll;
}
.projects-container::-webkit-scrollbar {
    width: 12px;              
}
.project a{
    text-decoration: none;
    font-size: 25px;
    padding: 2%;
    font-weight: 500;
    color: azure;
    transition: 0.5s ease;
}
.project a:hover{
    text-decoration: none;
    font-size: 25px;
    padding: 2%;
    font-weight: 500;
    color: rgb(198, 37, 198);
}
.project{
    display:flex;
    flex-direction: column;
    height: 100%;
    min-width:40%;
    max-width: 40%;
    margin-left: 2%;
    margin-right: 2%;
    /* padding-top: 1%; */
    cursor: pointer;
}
.projecttab{
    height: 80%;
    background-color: black;
    min-width:100%;
    max-width: 100%;
    align-self: center;
    border-radius: 15px;
    display: grid;
    background-size: cover;
    transition: 0.5s ease;
    box-shadow: rgba(148, 15, 141, 0.325) 0px 5px 2px, rgba(73, 3, 60, 0.23) 0px 6px 3px, rgba(86, 86, 86, 0.23) 0px 15px 8px, rgba(63, 63, 63, 0.23) 0px 16px 8px, rgba(0, 0, 0, 0.23) 0px 32px 16px;
}
.projecttab:hover{
    box-shadow: rgba(148, 15, 141, 0.525) 0px 5px 2px, rgba(73, 3, 60, 0.33) 0px 6px 3px, rgba(86, 86, 86, 0.23) 0px 15px 8px, rgba(63, 63, 63, 0.23) 0px 16px 8px, rgba(0, 0, 0, 0.23) 0px 32px 16px;
}
.projecttab .descBox{
    visibility: visible;
    border-radius: 15px;
    z-index: 2;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.678);
    font-size: 25px;
    overflow-y: scroll;
    font-weight: 400;
    color: aliceblue;
}
.projecttab .descBox .headingD{
    font-size: 45px;
}
.projecttab .descBox p{
    padding: 3%;
}
.projecttab .descBox::-webkit-scrollbar {
    width: 12px;              
  }
/* body::-webkit-scrollbar {
    width: 12px;              
  }
  
  body::-webkit-scrollbar-track {
    background: orange;        
  } 
  
  body::-webkit-scrollbar-thumb {
    background-color: blue; 
    border-radius: 20px;     
    border: 3px solid orange; 
  } */
.projecttab .descBox:hover{
    visibility: visible;
}
.projecttab a{
    background-color: rgba(0, 0, 0, 0.445);
    width: 100%;
    height: 20%;
    font-size: 30px;
    text-decoration: none;
}
.heading{
    text-align: left;
    padding-top: 2%;
    padding-left: 5%;
    font-size: 45px;
    font-weight: 600;
    color:transparent;
    background-clip: text;
    background-image: linear-gradient( 109.6deg,  rgb(192, 75, 194) 11.2%, rgb(48, 129, 156) 91.1% );
}
.descpopup1{
    background-color: rgba(0, 0, 0, 0.758);
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0%;
    top:0%;
    cursor: pointer;
}
.descpopup{
    position: absolute;
    top:12.5%;
    left:23%;
    border-radius: 20px;
    width:50%;
    height: 70%;
    background-color:aliceblue;
    color: black;
    padding: 2%;
    font-size: 20px;
}
.descpopup img{
    margin-top: 2%;
    width:90%;
    height: 75%;
    border-radius: 20px;
}
.descContent::-webkit-scrollbar {
    width: 5px;              
  }
.descContent{
    height: 90%;
    width: 93%;
    position: absolute;
    top:2.5%;
    overflow-y: scroll;
    filter: grayscale(100%);
}
.descContent .link{
    width: 100%;
    height: max-content;
    text-align: center;
    color: black;
}
.descContent a img{
    width:8%;
    height: 12%;
}
/*   
  .descpopup::-webkit-scrollbar-track {
    background: transparent;      
  }
  
  .descpopup::-webkit-scrollbar-thumb {
    background-color: purple; 
    border-radius: 20px;
  } */

  @media only screen and (max-width: 600px) {
    .Projects{
        height: 50%;
        padding-left: 3%;
    }
    .project{
        min-width:85%;
        max-width: 85%;
    }
    .projecttab{
        width:90%;
    }
    .descpopup{
        width: 80%;
        left:8%;
        font-size: 15px;
    }
    .descpopup img{
        width:95%;
        height: 65%;
        margin-left: 3%;
    }
    .descContent a img{
        width:12%;
    }
  }